.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4em;
    margin: 0;
    line-height: 4em;
    background-color: #afb8c7;
}

.text-muted {
    color: #f7f7f7!important;
}