* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-bottom: 70px;
    font-family: 'Merriweather Sans', sans-serif;
}

.fa {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Used for custom colors, borders, etc...  */
.cus-bg {
    background-color: #3f2a88;
}

.cus-border-bottom {
    border-bottom: 2px solid #beadfc;
}

.cus-bg-footer {
    background-color: #d6d7dc;
}

.cus-icon-color {
    color: #3f2a88;
}

.cus-btn {
    color: #fff;
    background-color: #3f2a88;
    border-color: #3f2a88;
    border-radius: 0;
}
/********************************************/
